<%- layout('layout/boilerplate') -%>
<ul class="flex flex-wrap justify-around">
  <% for (let product of products) { %>
  <div class="flex flex-col w-60 p-2 m-2 border-2 drop-shadowborder-gray-200 bg-cover bg-center  rounded hover:drop-shadow-2xl">
    <img src="<%= product.img %>" class="w-60 h-40 rounded " />
    <div class="flex flex-col card-body grow p-2">
      <h5 class="card-name font-bold capitalize"><%= product.name %></h5>
      <p class="card-des text-xs grow"><%= product.desc.substring(0,50) %></p>
      <h5 class="card-price py-2">Rs <%= product.price %></h5>
     
    </div>
    <a href="/products/<%=product._id%>" class="text-center text-white bg-blue-500 px-2 py-1 rounded ">Buy Now</a>
  </div>
  <% } %>
</ul>

